.container {
    max-width: 1920px;
    min-width: 1280px;
    display: grid;
    grid-template-areas:
            "head head"
            "navbar goodList";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
}

header {
    grid-area: head;
    background-color: coral;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 700;
    padding: 30px 0 0 0;
}

nav {
    grid-area: navbar;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.goods-list {
    grid-area: goodList;
    background-image: url("img/tmb_145037_6611.jpg");
    background-repeat: no-repeat;
    height: 700px;
    width: 1000px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.goods-item {
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 2px solid black;
    background-color: aqua;
}

.goods-item h3 {
    text-align: center;
}

.goods-item p {
    text-align: center;
}